/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


.featureNav-content {
    list-style-type: none;
    /* width: 1920px; */
    height: 100px;
    overflow: visible;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 2px -2px rgb(204, 199, 199);
  
    }

  .featureNav-left{
    margin-left: 100px;
  }
  .featureNav-right  {
    float: right;
    margin-right: 100px;
  }
  
  .logo {
    width: 90px;
    height: 63px;
  }

  .featureNav-list-logo {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px;
  }

  .featureNav-list {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 40px;
  }

  .featureNav-item{
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    }
  
  .featureNav-list:last-child {
    border-right: none;
  }
/*   
  .featureNav-list:hover:not(.active) {
    background-color: #111;
  } */
  
  .active {
    background-color: #4CAF50;
  }
  


  .featureNav-button{
    background-color: rgb(34, 177, 34); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .featureNav-list-button {
    float: right;
    height: 100px;
    padding-top: 20px;

}

.search-box-section {
    margin-top: 20px;
    width: 100%;
    height: 280px;
    overflow: visible;
    /* background-color: #FAFAFA; */
    
  }

  .search-heading{
      font-size: 1.5rem;
      padding-left: 100px;
      padding-bottom: 2px;

  }

  .search-box {
    margin-left: 100px;
    /* margin-right: 200px; */
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    overflow: visible;
    background-color: #ffffff;
    /* border-radius: 10px; */
    border: 1px solid #ccc;
  }

  .search-section{
      padding-top: 100px;
      padding-left: 10px;
  }

  .a-search-button {
    background: #0a9929;
    color: #fff;
    width: 150px;
    height: 48px;
    /* margin-left: 1px; */

}


/* Products */


.p-box {
  /* border: 2px solid #ccc; */
  /* box-shadow: 0 4px 2px -2px rgb(204, 199, 199); */
  /* box-shadow: var(--shadow); */
  box-shadow: 0px 6px 14px 2px rgba(0, 0, 0, 0.08)

}

.product-heading{
    font-size: 2rem;
    padding-left: 20px;
    padding-top:20px;
}

.p-container{
    display: grid;
    grid-gap: 20px;
    /* padding:100px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px ;
    padding-bottom: 20px;
    margin: 20px 0px 0px 0px;
    list-style: none;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.p-card {
    height: 400px;
    margin-top: 10px;
    overflow: visible;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ccc;
    /* box-shadow: 0px 6px 14px 2px rgba(0, 0, 0, 0.08) */

  }

  .p-image {
    width: 175px;
    height: 175px;
    margin: 0 auto;
  }

 .p-info-2{
     padding:20px;
 }
  .p-name{
    padding-left: 20px;
    font-size: 1.5rem;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
  }

  .p-seller{
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 900;
    font-style: normal;
  }

  .p-description{
      font-size: 1rem
  }

.header-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.header-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header-item1 {
  grid-column: 2 / 3;
}

.page-grid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(2, 1fr);
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
 
  /* border: 1px solid #ccc; */

}

.page-grid .left{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 10px;
}

.page-img{
  width: 100%;
  height: 400px;
}

.page-grid .left h3 {
   font-size: 30px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.page-grid .left .intro-header {
  font-size: 44px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;

}

.page-grid .right .intro-header {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
  padding-right: 10px;
}

.page-grid .left p{
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}


.page-grid .right{
  margin-right: 10px;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* padding:20px; */
}
.page-grid .right .right-box-content{
  padding:20px
}

.register-button {
  background: #f1ee08;
  color: rgb(0, 0, 0);
  width: 150px;
  height: 58px;
  margin-left: 5px;
  font-size: 1.1rem;
  font-size: 100;
}

.fit-content{
  margin: 30px 60px;
  padding: 0px 120px 0px 120px;
}

.tiles .tiles-list {
  display: block;
  text-decoration: none;
  padding: .8rem;
  text-align: left;
  color: #000;
  font-size: 1.1rem;
  box-shadow: 2px 5px 11px 0 hsla(0,0%,91%,.79);
  border-radius: 12px;
}

.tiles .tiles-list .tiles-upper-content {
  font-size: 38px;
  margin: 0 0 170px;
  padding: 20px;
}


