



/* User Login And Resgistration starts here */

.form-container{
  display: grid;
  grid-gap: 20px;
  margin: 0px 0px 0px 0px;
  transition: 0.3s;
  border-radius: 5px;
  border: 0px solid green;
  padding: 30px 90px 0px 90px;
}

.form-container2{
  display: grid;
  grid-gap: 20px;
  margin: 10px 20px 70px 20px;
  transition: 0.3s;
  border-radius: 5px;
  border: 0px solid green;
  padding: 30px 90px 0px 90px;
}



.form-box{  
  margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.form-box .login-welcome-intro h3{
  font-size:30px;
  font-weight: 600;
  color: rgb(6, 155, 38);
}


.form-box .form-box-width{
  width: 900px;
}


.form-button{
  text-align: center;
  background-color: rgb(6, 155, 38);
  border-color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 48px;
  color: white;
  padding: 0px 0px 0px 0px;
  
  margin:0px 0px 30px 0px;
  border-radius: 5px;
}
.login-container{
  background-color:rgb(71, 89, 255) ;
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(1, 1fr);
}

.login-section{
  display : block;
padding: 30px 90px 30px 90px;
}

.login-button{
  background-color: rgb(71, 89, 255);
  border-color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 48px;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

/* User Login And Resgistration ends here */



.socialAuth-section  ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
}


.socialAuth-container a{
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(71, 89, 255);
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  height: 48px;
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;

}



@media only screen and (max-width: 600px) {
.form-container {
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  margin: 40px 0px 0px 0px;
  padding: 30px 20px 0px 20px;
}
.form-box{
  padding: 0px 0px 0px 0px;
}
}



