.sidebar_button2 {
  background-color: rgb(28, 40, 209); /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 


.create-client-button{
  background-color: rgb(71, 89, 255);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 50%;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.top-card{
  padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin: 2px 20px 2px 20px;
    font-family: Arial, Helvetica, sans-serif;
    height:120px;
}

.top-card p{

}

.top-card-title{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.top-card-text{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
    
  }

  .Balance-box{
    color:white;
    background-color: rgb(9, 173, 50);
  }
  
  .Balance-box h3{
    font-size: 17px;
    font-weight: 400;
    color:white;
    text-align: center;
  }
  
  .Balance-box p{
    font-size: 40px;
    font-weight: 400;
    text-align: center;;
  }

  .invoice h3{
    font-size: 17px;
    font-weight: 400;
  }
 
  .invoice p{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }

  .products-box h3{
    font-size: 17px;
    font-weight: 400;
  }

  .products-box a{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color:tomato;
    align-content: center;
  }

.membership-box{
  background-color: #2B2B2B;
  }
  
.membership-title{
    color: white;
    font-size: 17px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: SF Compact  Display Medium,sans-serif;
  }
  
.membership-text{
  padding-top: 10px;
  font-size:15px;
  color: white;
  padding-top: 4px;
}


.membership-mode{
  padding-top: 10px;
  font-size:17px;
  color: white;
}





/*Theebz Profile Card */
.profile-card-container{
  
  padding: 0;
  margin:3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  min-width: 230px;
  max-width: 315px;
  position: relative;
  overflow: hidden;
  text-align: left;
  line-height: 1.4em;
}

.profile-image-box{
 position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.profile-image{
  width: 100%;
  height: auto;
  overflow: hidden;
  
}

.profile-button{
  padding: 5px;
  border: 2px solid #9b0404;
  color: #c20f0f;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
}

.profile-description{
  padding: 5px 8px 5px 8px;
}

.profile-text-container{
  margin: 10px 0px 10px 0px ;
}

.profile-text{
  font-size: 16px;
  font-weight: 400;
  color:black;
}

/* ends here */

/* Dashboard Quick Cards */

.Quickboxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(4, 1fr);
  height: 230px;
  padding: 10px 0px 10px 0px;
  border: 2px solid blue;
}

.Quickboxes .Quickbox-container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: inherit;
  border-radius: 16px;
  height: inherit;
  width: 240px;
}


.Quickbox-item-header{
  padding: 10px 0px 60px 0px;
  font-size: 17px;
  color: black;
  background-color: white;
}

.Quickbox-item-text{
  padding: 3px 5px 10px 5px;
  font-size: 12px;
  color: black;
  background-color: white;
}

.Quickbox-item-button{
  background-color: rgba(24, 55, 236, 0.822);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 60px;
    height: 20px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

}


/* ends here */


/* Profile Card horizontal Details */

.horizontal-box{
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
  margin-bottom: 24px;
  display: flex;
  height: 250px;
  width:600px;
}

.horizontal-box .horizontal-left {
  width: 35%;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  /* padding: 0px 20px 0px 20px; */
  box-sizing: border-box;
}

.horizontal-box  .horizontal-box-image-container {
  border-radius:15px;
  border: 0px solid green;
  height: 180px;
  /* padding: 10px 0px 10px 10px; */
}

.horizontal-box  .horizontal-box-image-container img{
  width: 180px;
  border-radius:15px;
  height:inherit;

}

.horizontal-box .horizontal-right{
  width: 65%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-left: 1px solid rgba(0,0,0,0.04);
  /* padding: px ; */
  margin: auto;
}

.horizontal-right-profile-text{
  margin: 10px  0px 0px 0px;
  padding: 5px;
  font-size:18px;

}

.horizontal-box  .horizontal-right{
  
}

/* Profile card horizontal ends here */