


.body-color{
  background: #e0dede;
}

.container{
  padding: 30px 60px 30px 60px;
}

.container2{
  padding: 30px 170px 30px 170px;
}

.fitter{
  margin: 5px 10px 5px 10px;
  padding: 20px 40px 20px 40px;
}

.slider-container{
  margin: 5px 10px 5px 10px;
  padding: 10px 20px 10px 20px;
}


.demo-option-label-item > span {
  margin-right: 6px;
}

.table-head{
  font-size: 16px;
}

.ExciteAdmin{
  padding: 5px 0px 05px 0px;
}
.ExciteAdmin p {
  font-size: 25px;
  color:white;
}

.NavLogo{
  background-color: white;
}

.ExciteLogo{
  width: 40px;
  height: 20px;
}

.totalCount{
  font-size: 17px;
  color: black;
  font-weight: bold;
}

/* Ends Here */
 
.webCreateText{
  margin:30px 0px 0px 0px;
  padding: 20px;
}

/* Inline Display Boxes */
.displayBoxes ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.displayBoxes .displayBoxes-item{
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.displayBoxes .displayBoxes-item .displayBoxes-item-icon{
  font-size: 20px;
}

.displayBoxes .displayBoxes-item .displayBoxes-item-title{
  font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.displayBoxes .displayBoxes-item p{
  padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
/* Top Conntainers endes */

/* third starts here */
.single-grid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(2, 1fr);

  padding: 10px 0px 10px 0px;
}

.single-grid center{
 
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.single-grid .center{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* Hey */
.page-grid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns:  repeat(2, 1fr);
  padding: 20px 0px 20px 0px;
  height: 300px;
  border: 1px solid #ccc;
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.page-grid .left{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.page-grid .left h3 {
   font-size: 30px;
  font-weight: 500;
  /* color:rgb(12, 4, 116); */
  text-align: left;
  margin-bottom: 20px;
}

.page-grid .left .intro-header {
  font-size: 44px;
  font-weight: 500;
  /* color:rgb(12, 4, 116); */
  text-align: left;
  margin-bottom: 20px;

}

.page-grid .right .intro-header {
  font-size: 44px;
  font-weight: 500;
  /* color:rgb(12, 4, 116); */
  text-align: left;
  margin-bottom: 20px;

}

.page-grid .left p{
  font-size: 16px;
  font-weight: 300;
  /* color:rgb(12, 4, 116); */
  text-align: left;
  /* margin-bottom: 20px; */
  /* padding-left: 20px; */
}

.page-grid .left button{
  margin-top: 20px;
  padding:20px;
  background-color: rgb(6, 155, 38);
  border-color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 48px;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

.page-grid .right{
  border: 2px solid blue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* padding:20px; */
}
.page-grid .right .right-box-content{
  padding:20px
}

.a-box-1{
  margin-top: 40px;
  padding:30px
}

.a-box-2{
  margin-top: 40px;
  padding:30px

}

.a-box-3{
  margin-top: 40px;
}


/*  */
.custom-button{
  background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.custom-button2{
  background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 400px;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}


/* third end here */

/* Grid Layout for component */


/* item card css starts here */
.post-list-title{
  font-size: 27;
  color: black;
}

.post-list-text{
  font-size: 12;
  color: black;
}

.post-card{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  
}

.post-container{
  text-align: left;
}
.post-title{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}


.post-text{
  padding-top: 2px;
  padding-bottom: 2px;
  font-size:20px;
}

.post-date{
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:14px;
}

.post-price{
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:14px;
  
}

.post-order-button{
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 0px 20px 0px 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: rgb(7, 165, 46);
  margin-top: 10px;
  height: 48px;
  width: 100%;
  font-size:14px;
  
}

.post-qoute-button{
  color: #d10034;
  border: 1px solid #d10034;
  font-size: 15px;
  text-align: center;
  padding: 15px 25px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background: color;
  margin-top: 20px;
  height: 48px;
  width: 100%;
  font-size:14px;
}

.comment-card{
 
  padding: 5px 10px 5px 10px;
}
/* item card css starts here */



/* Upload detail css ends here */

.upload_button{
  background-color: rgb(28, 40, 209); /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Upload detail css ends here */



.explore-text{
  font-weight: bold;
  font-family: Montserrat,sans-serif;
}

/* Upload detail css ends here */


/* Media Queries */
@media (max-width: 700px) {
  .product {
    box-shadow: var(--shadow);
    width: 100%;
  }

  .page-grid{
    grid-template-columns: 1fr;
  }

  .product-detail{
    grid-template-columns: 1fr;
  }

}

@media (max-width: 500px) {
  .product-detail{
    grid-template-columns: 1fr;
  }

  
  .page-grid{
    grid-template-columns: 1fr;
  }

  .product-detail{
    grid-template-columns: 1fr;
  }


}