.products-layout .products-layout-container{
    display: grid;
    grid-gap: 20px;
    padding:0;
    margin: 20px 0px 0px 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}


.products-layout .products-item-list-container{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: left;
    color: black;
    font-size: 1.1rem;
}

.products-layout .products-item-list-container .products-item-list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    height: 450px;
    max-height: 450px;
    overflow: hidden;
    padding: .9375rem;
    -webkit-transition: max-height .3s ease-in;
    -o-transition: max-height .3s ease-in;
    transition: max-height .3s ease-in;
}

.products-layout li .products-item-list .products-item-image-container{
    align-items: center;
}

.products-layout li .products-item-list .products-item-image-container img{
    width: 100%;
    height: 180px;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.products-layout li .products-item-list .products-item-content{
    display: flex;
    flex-direction: column;
}

.products-layout li .products-item-list .products-item-content .products-item-title{
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    margin:2px;
}


.products-layout li .products-item-list .products-item-content .products-item-price{
    font-size:20px;
    font-weight:600 ;
    margin:2px;
    padding: 4px;
    margin:10px;
    border-top:1px solid rgb(197, 197, 197);
    border-bottom:1px solid rgb(197, 197, 197);
}


.products-layout li .products-item-list  .products-item-content .products-item-rating{
    
    margin:2px;
    padding: 4px;
}

.products-layout li .products-item-list .products-item-content .products-item-location{
    font-size: 10px;
    margin:2px;
    padding: 4px;

}


.products-layout li .products-item-list .products-item-button-container{
    align-content: center;
    padding:10px;
    display: block;
}

.products-layout li .products-item-list  .products-item-button-container .products-item-button{
   
    text-align: center;
    background-color: white;
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 250px;
    height: 40px;
    color: rgb(6, 155, 38);
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid rgb(6, 155, 38);

   
}


/*Services Layout and Designs starts here */
.services-layout ul {
    display: grid;
    grid-gap: 20px;
    padding:0;
    margin: 20px 0px 0px 0px;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
  }
  
.services-layout li{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: left;
    color: black;
    font-size: 1.1rem;
  
  }
  
  .services-horizontal-box{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
    margin-bottom: 24px;
    display: flex;
    height: 300px;
    width:600px;
  }
  
  .services-horizontal-box .services-horizontal-left {
    width: 40%;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
  }
  .services-horizontal-box  .services-horizontal-left .services-horizontal-box-image-container {
    border-radius:15px;
    border: 0px solid green;
    height: 180px;
    padding: 10px 0px 10px 10px;
  }
  
  .services-horizontal-box  .services-horizontal-box-image-container img{
    width: 180px;
    border-radius:15px;
    height:inherit;
  
  }
  
  .services-horizontal-box .services-horizontal-right{
    width: 60%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-left: 1px solid rgba(0,0,0,0.04);
    padding: 15px ;
    margin: auto;
  }


  .services-horizontal-right .sercive-title{
    margin: 5px  0px 0px 0px;
    padding: 5px;
    font-size:20px;
    font-weight: 600; 
  }
  
  .services-horizontal-right .services-description{
    margin: 5px  0px 5px 0px;
    padding: 5px;
    font-size:18px;
  }

  .services-horizontal-right .services-cost{
    margin: 5px  0px 5px 0px;
    padding: 5px;
    font-size:18px;
  }

  .services-horizontal-right .sercive-vendor{
    margin: 5px  0px 0px 0px;
    padding: 5px;
    font-size:18px;
  }

  .services-horizontal-right-profile-text{
    margin: 10px  0px 0px 0px;
    padding: 5px;
    font-size:18px;
  
  }
  

  .services-horizontal-right .services-button-container{
    align-content: center;
    padding:10px;
    display: block;
  }

  .services-horizontal-right .services-button-container .services-button{
   text-align: center;
    background-color:white,;
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: rgb(6, 155, 38);
    padding: 0px 0px 0px 0px;
    margin:0px 0px 30px 0px;
    border-radius: 5px;
    border: 1px solid rgb(6, 155, 38);
}



.services-horizontal-right .services-button-container .services-button :hover{
  text-align: center;
   background-color:rgb(6, 155, 38);
   border-color: #fff;
   font-weight: 500;
   font-size: 16px;
   width: 200px;
   height: 48px;
   color: white;
   padding: 0px 0px 0px 0px;
   margin:0px 0px 30px 0px;
   border-radius: 5px;
   border: 0px solid white;
}