/* User Login And Resgistration starts here */

.form-container{
    display: grid;
    grid-gap: 20px;
    margin: 0px 0px 0px 0px;
    transition: 0.3s;
    border-radius: 5px;
    border: 0px solid green;
    padding: 30px 90px 0px 90px;
  }
  
  .form-container2{
    display: grid;
    grid-gap: 20px;
    margin: 10px 20px 70px 20px;
    transition: 0.3s;
    border-radius: 5px;
    border: 0px solid green;
    padding: 30px 90px 0px 90px;
  }
  
  .form-box{  
    margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  }
  
  .form-box .login-welcome-intro h3{
    text-align: center;
    font-size:30px;
    font-weight: 600;
    color: rgb(6, 155, 38);
  }
  
  
  .form-box .form-box-width{
    width: 900px;
  }
  
  
  .form-button{
    text-align: center;
    background-color: rgb(6, 155, 38);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 200px;
    height: 48px;
    color: white;
    padding: 0px 0px 0px 0px;
    
    margin:0px 0px 30px 0px;
    border-radius: 5px;
  }
  .login-container{
    background-color:rgb(71, 89, 255) ;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .login-section{
    display : block;
  padding: 30px 90px 30px 90px;
  }
  
  .login-button{
    background-color: rgb(71, 89, 255);
    border-color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 48px;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
  }
  
  /* User Login And Resgistration ends here */
    
  .socialAuth-section  ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .socialAuth-container a{
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(71, 89, 255);
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    height: 48px;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
  }
  
  .dashboard-form-container{
    display: grid;
    grid-gap: 20px;
    margin: 10px 20px 70px 20px;
    transition: 0.3s;
    border-radius: 5px;
    border: 0px solid green;
    padding: 30px 0px 0px 0px;
  }
  
  .dashboard-form-box{  
    margin-left: auto;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      
      padding-top:10px;
      padding-bottom: 32px;
      box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  }
  
  .dashboard-form-box .dashboard-form-box-width{
    width: 500px;
  }
  
  .dashboard-form-box .dashboard-foreign-header{
    font-size:30px;
    font-weight: 600;
    color: rgb(6, 155, 38);
  }
  
  @media only screen and (max-width: 600px) {
  .form-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin: 40px 0px 0px 0px;
    padding: 30px 20px 0px 20px;
  }
  
  .form-box{
    padding: 0px 0px 0px 0px;
    }
  }
  

  .access-form-layout{
    display: flex;
    min-height: 100vh
}

.access-form-layout .access-form-image{
    width: 50%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
   
}

.access-form-layout .access-form-image .access-form-bg-image{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1586880244406-556ebe35f282?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    -o-object-position: bottom;
    object-position: bottom;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}


.access-main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .access-main-nav li {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    
  }
  
  .access-main-nav li .ExciteLogoContainer{
      padding: 20px;
  }


.access-main-nav li .ExciteLogoContainer .ExciteLogo{
    height: 50px;
    width: 100px;
}
  
.access-form-layout .access-form-image .access-header-intro{
    margin: 300px 90px 0px 90px;
}

.access-form-layout .access-form-image .access-form-bg-image .access-header-intro h3{
    font-size: 50px;
    color: white;
    font-weight: 600;
}

.access-form-layout .access-form-image .access-form-bg-image .access-header-intro p{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.access-form-layout .access-form-box{
    width: 50%;
    padding: 0px 0px 0px 0px;
    background: #fff;
    min-height: 100vh;
    overflow: auto;
}



.access-form-layout .access-form-box .form-container{
    display: grid;
    grid-gap: 20px;
    margin: 10px 20px 70px 20px;
    transition: 0.3s;
    border-radius: 5px;
    border: 0px solid green;
    padding: 30px 0px 0px 0px;
}

.access-form-layout .access-form-box .form-box{  
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin:30px 0px 0px 0px;
    
    padding: 40px 40px 30px 40px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  }
  
  .access-form-layout .access-form-box   .form-box .login-welcome-intro h3{
    font-size:30px;
    font-weight: 600;
    color: rgb(6, 155, 38);
  }

 .access-form-layout .access-form-box   .form-box .form-box-width{
    width: 500px;
  }
  
  .access-form-layout .access-form-box   .form-box  .access-suggestion {
        font-size: 17px;
        color: rgb(6, 155, 38) ;
  } 


  /* Sign Up Selections */
.accountBox{
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 500px;
}

.accountBox-content{
    padding: 20px;
 
}

.accountBox-content .accountBox-content-image-container{
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 0px 30px 0px 30px;
    width: 600px;
}

.accountBox-content .accountBox-content-image-container .buyer-image{
    
}


.accountBox-text {
    margin-top: 20px;
    text-align: center;
}

.accountBoxHeading{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.accaccountBoxParagraph{
    font-size: 17px;
    color: black;

}

.swip-grid{
  display: flex;
  align-items: stretch;
  margin: 20px;
  /* grid-gap:20px */
  }

  .swiper-container {
    border: 1px solid blue;
    float: left;
    width: 100%;
    height: 500px;
    flex-grow: 3;
    margin-bottom: 30px;
  }

  .swipe-2{
    border: 1px solid blue;
    float: left;
    width: 50%;
    height: 500px;
    margin-left: 10px;
    padding:20px;
  }

.img-hi{
  padding: 20px;
  /* margin-bottom: 200px; */
  height: 500px;
}