  .nav-content {
    list-style-type: none;
    /* width: 1920px; */
    height: 100px;
    overflow: visible;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 2px -2px rgb(204, 199, 199);
  
    }

  .nav-left{
    margin-left: 100px;
  }
  .nav-right  {
    float: right;
    margin-right: 100px;
  }
  
  .logo {
    width: 90px;
    height: 63px;
    overflow: visible;
    background-image: url(/* Excite Logo PNG.png */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav-list-logo {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px;
  }

  .nav-list {
    float: left;
    border-right:1px solid #bbb;
    /* display: block; */
    color: rgb(0, 0, 0);
    text-align: center;
    /* padding: 14px 16px; */
    height: 100px;
    text-decoration: none;
    padding-top: 40px;
  }

  .nav-item{
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    }
  
  .nav-list:last-child {
    border-right: none;
  }
/*   
  .nav-list:hover:not(.active) {
    background-color: #111;
  } */
  
  .active {
    background-color: #4CAF50;
  }
  


  .nav-button{
    background-color: rgb(34, 177, 34); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .nav-list-button {
    float: right;
    height: 100px;
    padding-top: 20px;

}

.search-box-section {
    margin-top: 20px;
    width: 100%;
    height: 280px;
    overflow: visible;
    /* background-color: #FAFAFA; */
    
  }

  .search-heading{
      font-size: 1.5rem;
      padding-left: 100px;
      padding-bottom: 2px;

  }

  .search-box {
    margin-left: 100px;
    /* margin-right: 200px; */
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    overflow: visible;
    background-color: #ffffff;
    /* border-radius: 10px; */
    border: 1px solid #ccc;
  }

  .search-section{
      padding-top: 100px;
      padding-left: 10px;
  }

  .a-search-button {
    background: #0a9929;
    color: #fff;
    width: 150px;
    height: 48px;
    /* margin-left: 1px; */
}


/* Products */

.product-heading{
    font-size: 2rem;
    padding-left: 100px;
}

.p-container{
    display: grid;
    grid-gap: 20px;
    padding:100px;
    margin: 20px 0px 0px 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.p-card {
    height: 400px;
    margin-top: 10px;
    overflow: visible;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
  }

  .p-image {
    width: 175px;
    height: 175px;
    margin: 0 auto;
  }

 .p-info-2{
     padding:20px;
 }
  .p-name{
    padding-left: 20px;
    font-size: 1.5rem;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
  }

  .p-seller{
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 900;
    font-style: normal;
  }

  .p-description{
      font-size: 1rem
  }

  