
body {
  font-family: "Lato", sans-serif;
}
  
.wrapper {
  display: grid;
  grid-gap: 20px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.sidenav a {
  margin-left: 20px;
  margin-top: 20px;
  padding:10px;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  text-align:left;
}

.sidenav a:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}



.edit-profile-button{
background-color: rgb(34, 177, 34); /* Green */
border: none;
color: white;
padding: 10px 20px;
margin: 10px 10px 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 15px;
}

.sidenav-image-container{
margin: 0px 0px 0px 60px;
}

.sidenav-text-container{


}

.sidenav-image{
height: 120px;
border-radius: 100%;
width: 50%;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* custom */
.sidenav-header h3{
  display: inline-block;
  color: white;
  text-align: center;
  margin-bottom: 2px;
  font-size: 1.3rem;
  /* text-align: justify; */
}

.sidenav-header img{
  align-items: center;
}

.info-boxes{
  display: grid;
  margin-top: 20px;
  grid-gap: 20px;
  list-style: none;
  height:50%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  padding: 20px;

  /* grid-template-areas:
    'products products filter'
    'products products filter'; */
}

.info-card{
display: block;
border: 1px solid #ccc;
box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
padding: 20px;
font-size: 17px;
height: 100px;
}

.info-card-1 {
background-color: rgb(224, 88, 224);
color: white;
}

.info-card-2 {
background-color: rgb(74, 238, 68);
color: white;
}

.info-card-3 {
background-color: rgb(56, 16, 199);
color: white;
}

.info-card-4 {
background-color: rgb(228, 85, 19);
color: white;
}

/* profile card */
.main-section{
display: flex;
flex-wrap: wrap;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 250px;
margin: auto;
text-align: center;
font-family: arial;
}

.title {
color: grey;
font-size: 18px;
}


a {
text-decoration: none;
font-size: 14px;
color: black;
}


.s-box{
display: block;
border: 1px solid rgb(15, 8, 8);
box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
padding: 10px;
font-size: 1rem;

}

.section-box{
display: grid;
margin-top: 10px;
grid-gap: 10px;
list-style: none;

margin:5px;
grid-template-columns:  repeat(2, 1fr);
padding: 20px;
grid-gap: 0px;

height: 100px;
padding: 00px 10px 20px 10px;

/* grid-template-areas:
  'products products filter'
  'products products filter'; */
}

.s-box-left{
border: 0px solid blue;
justify-content: center;
display: flex;

flex-direction: column;
align-items: start;
justify-content: center;
}

.s-box-right{
  border: 0px solid blue;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}


.oneBox-section{
display: grid;
margin-top: 10px;
grid-gap: 10px;
list-style: none;

margin:5px;
grid-template-columns:  repeat(1, 1fr);
padding: 20px;
grid-gap: 0px;

height: 100px;
padding: 00px 10px 20px 10px;
}

.oneBox-section .box{
border: 0px solid blue;
justify-content: center;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
width: auto;
}


/* K-boxes */

.k-box{
border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
    margin-bottom: 24px;
    display: flex;
}


.k-box .left{
width: 35%;
position: relative;

display: -ms-flexbox;
display: flex;
flex-direction: column;
padding: 10px 20px 10px 20px;
box-sizing: border-box;
}

.k-box .left .box-title{
color: #bb0915;
font-size: 30px;
margin-bottom: 0;
font-weight: 700;
padding-bottom: 5px;
text-align: left;
}

.k-box .left .box-text{
padding-top: 5px;
font-size: 20px;
margin: 10px 0;
color: rgb(0, 0, 0);
opacity: 0.8;
font-weight: 600;
-ms-flex-line-pack: center;
align-content: center;
display: -ms-flexbox;
display: flex;
line-height: 1em;
text-align: left;
}

.k-box .right{
width: 65%;
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: justify;
justify-content: space-between;
border-left: 1px solid rgba(0,0,0,0.04);
padding: 15px ;
margin: auto;
}

/* K-boxes ends here */

.create-client-button{
background-color: #4759ff;
display: block;
border-color: #fff;
font-weight: 500;
font-size: 16px;
width: 50%;
height: 48px;
color: #fff;
padding: 10px;
border-radius: 3px;
/* float:left; */
margin: 20px;
}

.box-icon{
/* display: block; */
float: right;
}

.profile-button{
background-color: #1ca862;
display: block;
border-color: #fff;
font-weight: 500;
font-size: 10px;
width: 50%;
height: 48px;
margin-left: 60px;
color: #fff;
padding: 10px;
border-radius: 3px;
/* float:left; */
}

.fitter{
  margin: 5px 10px 5px 10px;
  padding: 20px 40px 20px 40px;
}

.fluid-container{
  margin: 30px 60px;
}


.form-container{
  display: grid;
  grid-gap: 20px;
  margin: 10px 20px 70px 20px;
  transition: 0.3s;
  border-radius: 5px;
  border: 0px solid green;
  padding: 30px 90px 0px 90px;
}

.form-box{
  
  padding: 0px 60px 0px 60px;
  justify-content: center;
  display: block;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center; 
}

.create-button {
    background: #0a9929;
    color: #fff;
    width: 150px;
    height: 58px;
    margin-left: 5px;
    font-size: 20px;
    font-size: 1000;
    
}

.create-list{
  margin-top: 20px;
}